Debug
*.user
*.suo
*.ncb
/bindings/csharp/Release
/tinyDAV/Release
/tinySIGCOMP/Release
/tinyBFCP/Release
/tinyMSRP/Release
/tinyHTTP/Release
/tinyMEDIA/Release
/tinyNET/Release
/tinySAK/Release
/plugins/pluginWinMF/Release
/tinySIP/Release
/tinySMS/Release
/tinyIPSec/Release
/tinySDP/Release
/tinyRTP/Release
/tinyXCAP/Release
*.orig
*.db
*.ipch
*.opendb
/bindings/csharp/UpgradeLog.htm
/tinySAK/Static_Debug/tinySAK.tlog/*.tlog
/tinySAK/Static_Debug
/thirdparties/win32/bin/openssl/*.pdb
/thirdparties/win32/lib/openssl/*.pdb
/thirdparties/win32/lib/openssl/*.exp
/plugins/pluginDirectShow/Release
/plugins/pluginWinIPSecVista/Release
